<% @title="Our Mission" %>
<% @description="The UF BCM partners with local churches in the area for the mission of spreading the Gospel of Jesus Christ to the University of Florida and the surrounding neighborhoods." %>
<div class="container our-mission">

  <div class="bible-verse">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>"I have set you an example that you should do as I have done for you."</h3>
        <h4 style="text-align:right; padding-right: 30px;"> -John 13:15</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5 vision">
      <h1>Vision Statement</h1>
      <hr>
      <p>The University of Florida Baptist Collegiate Ministries exists to partner with churches in sharing the gospel of Jesus Christ with collegiates; to challenge students who are believers to be involved in ministry both on campus, the local church, and the world; and to provide programs to help the collegiates become fully mature followers of Jesus.</p>
    </div>
    <div class="col-sm-5 col-sm-offset-2 core-values">
      <h1>Core Values</h1>
      <hr>
      <ul>
        <li>Developing faithful followers of Christ</li>
        <li>Reaching students on the campus</li>
        <li>Sending students across the campus and around the world</li>
        <li>Shaping students into leaders who influence culture</li>
        <li>Connecting students to the local church</li>
      </ul>
    </div>
  </div>

</div>
