<div class="container" style="padding: 35px;">
  <div class="row">
    <div class="list-group col-xs-6 col-xs-offset-3">
      <a href="/admin/staff" class="list-group-item list-group-item-action">Add Staff Member</a>
      <a href="/admin/small_groups" class="list-group-item list-group-item-action">Add Small Group</a>
      <a href="/admin/events" class="list-group-item list-group-item-action">Add Upcoming Event</a>
      <a href="/admin/churches" class="list-group-item list-group-item-action">Add Local Church</a>
    </div>
  </div>
</div>
