<% @title="Manage Content" %>
<div class="container" style="padding: 35px;">
  <div class="row">
    <div class="list-group col-xs-6 col-xs-offset-3">
      <a href="/admin/staff" class="list-group-item list-group-item-action">Add Staff Member</a>
      <a href="/admin/user" class="list-group-item list-group-item-action">Add Admin User</a>
      <a href="/resources/bistro_menu" class="list-group-item list-group-item-action">Add Bistro Menu</a>
    </div>
  </div>
</div>
