<div class="container admin-manage">
  <div class="row">
    <div class="col-sm-6 col-xs-6 icon-row">
      <a href="/admin/staff">
        <div class="round-corners">
          <span class="glyphicon glyphicon-user"></span>
          <h1>Staff</h1>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-xs-6 icon-row">
      <a href="/admin/small-groups">
        <div class="round-corners">
          <span class="glyphicon glyphicon-book"></span>
          <h1>Small Groups</h1>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-xs-6 icon-row">
      <a href="/admin/events">
        <div class="round-corners">
          <span class="glyphicon glyphicon-calendar"></span>
          <h1>Events</h1>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-xs-6 icon-row">
      <a href="/admin/resources">
        <div class="round-corners">
          <span class="glyphicon glyphicon-folder-open"></span>
          <h1>Resources</h1>
        </div>
      </a>
    </div>
  </div>
</div>
