<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @message.name %> has emailed you!</h3><br>
    <h4><%= @message.email %></h4>
    <p><%= @message.content %></p>
  </body>
</html>
