// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$blue-main: #0288D1;
$orange-main: #FF9800;

body {
  background-color: $blue-main;
  color: white;
}

.footer {
  background-color: grey;
  text-align: center;
}

.navbar {
    margin-bottom: 0;
}

.glyphicon-ring {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-table;
  text-align: center;
  background: $orange-main;
}

.glyphicon-ring .glyphicon-bordered {
  font-size: 60px;
  vertical-align: middle;
  display: table-cell;
}

.icon-row {
  padding-top: 25px;
  text-align: center;
}

p {
  font-size: 1.1em;
}

.dropdown:hover .dropdown-menu {
display: block;
}

#upcoming-events {
  font-family: 'Original Surfer', cursive;
  color: white;
  font-size: 3em;
}

.round-corners {
    border-radius: 25px;
    background: $orange-main;
    width: 250px;
    height: 150px;
    font-size: 60px;
    vertical-align: middle;
    text-align: center;
    display: table;
    margin: 0 auto;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.carousel-overlay{
	background-color: black;
	width: 100%;
	opacity: 0.5;
	height: 100%;
	position: absolute;
	z-index: 15;
}
.carousel-control {
  z-index:20;
}
ol {
z-index: 20!important;
position: absolute;
}
.carousel-caption {
z-index: 20;
}

.main-page {
  background-color: $blue-main;
  z-index: 50;
  position:relative;
}

.weekly-gatherings a {
  font-weight: bold;
  text-decoration: underline;
}

.weekly-gatherings a:hover {
  color: $orange-main;
}

.bible-verse {
  color: black;
  padding: 30px;
  font-style: italic;
}

.add-small-group-form {
  padding-bottom: 30px;
}

.small-group-cards {
  padding: 35px;
  color: black;
}

.admin-section a {
  color: grey;
}
.admin-section a:hover {
  text-decoration: none;
  color: $orange-main;
  cursor: pointer;
  cursor: hand;
}

.modal-content {
  color: black;
}
