// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$blue-main: #0288D1;
$blue-secondary: #4bbefc;
$orange-main: #FF9800;


body {
  background: $blue-main;
  background: -webkit-linear-gradient($blue-main, $blue-secondary);
  background: -o-linear-gradient($blue-main, $blue-secondary);
  background: -moz-linear-gradient($blue-main, $blue-secondary);
  background: linear-gradient($blue-main, $blue-secondary);
  background-image: linear-gradient(to top, $blue-secondary, $blue-main);
  color: white;
}

.footer {
  background-color: #f8f8f8;
  color: #777;
  text-align: center;
}

.footer a {
  color: #777;
  font-weight: normal;
  text-decoration: none;
  font-weight: bold;
}

.navbar {
    margin-bottom: 0;
}

.glyphicon-ring {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-table;
  text-align: center;
  background: $orange-main;
}

.glyphicon-ring .glyphicon-bordered {
  font-size: 60px;
  vertical-align: middle;
  display: table-cell;
}

.icon-row {
  padding-top: 25px;
  text-align: center;
}

p {
  font-size: 1.1em;
}

.dropdown:hover .dropdown-menu {
display: block;
}

#upcoming-events {
  font-family: 'Original Surfer', cursive;
  color: white;
  font-size: 3em;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.navbar a {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: $orange-main;
}

.carousel-overlay{
	background-color: black;
	width: 100%;
	opacity: 0.5;
	height: 100%;
	position: absolute;
	z-index: 15;
}
.carousel-control {
  z-index:20;
}
ol {
z-index: 20!important;
position: absolute;
}
.carousel-caption {
z-index: 20;
}

.main-page {
  background: $blue-main;
  background: -webkit-linear-gradient($blue-main, $blue-secondary);
  background: -o-linear-gradient($blue-main, $blue-secondary);
  background: -moz-linear-gradient($blue-main, $blue-secondary);
  background: linear-gradient($blue-main, $blue-secondary);
  background-image: linear-gradient(to top, $blue-secondary, $blue-main);
  z-index: 50;
  position:relative;
}

.bible-verse {
  color: black;
  padding: 30px;
  font-style: italic;
}

.add-small-group-form {
  padding-bottom: 30px;
}

.small-group-cards {
  padding: 35px;
  color: black;
}

.admin-section a {
  color: grey;
}
.admin-section a:hover {
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.modal-content {
  color: black;
}

.church-link {
  color: $orange-main;
}

.church-link:hover {
  color: $blue-main;
}

.logo {
  max-height: 45px;
}

.list-group {
  text-align: center;
}

#error-explanation {
  width: 400px;
  padding: 0; margin: 0 auto 1.5em;
  border: 1px solid #AA0000;
  background-color: #FFFFFF;
  font-size: 12px;
  h2 {
    font-weight: bold;
    font-size: 12px;
    padding: 5px 5px 5px 15px; margin: 0;
    width: 400px;
    background-color: #AA0000; color: #FFFFFF;
  }
  p {
    color: #000000;
    margin: 0; padding: 3px 0.5em;
  }
  ul {margin-top: 0;}
  ul li {list-style: square;}
}

.field-with-errors {
  label { color: #AA0000; }
  input {}
}

.row {
  display: flex;
  flex-wrap: wrap;
}
