<% @title="Local Churches" %>
<% @description="The UF BCM partners with local churches in the area in order to help students find a body of Christ that they can get involved and grow in." %>
<div class="container">

    <h1>Local Churches</h1>
    <p>The BCM makes a very strong point to partner with local churches in order to help students get involved there. We believe that getting students connected to a multi-generational church is crucial to their spiritual growth. Click the button below to check out some local Baptist churches through the North Central Florida Baptist Association. If you need help finding a church, come by the BCM and talk to any of our staff members.</p>

    <div class="church-button">
        <a href="http://www.ncfba.net/" target="_blank">
            <button class="button">Find a Church</button>
        </a>
    </div>

</div>
