<% @title="Local Churches" %>
<% @description="The UF BCM partners with local churches in the area in order to help students find a body of Christ that they can get involved and grow in." %>
<div class="container">

  <h1>Local Churches</h1>
  <p>The BCM makes a very strong point to partner with local churches in order to help students get involved there. We believe that getting students connected to a multi-generational church is crucial to their spiritual growth. Listed below are a few that we specifically partner with in the area, though there are plenty of other great ones out there! Come by the BCM and talk to any of our staff members if you need help picking the right church for you.</p>
    <div id="church-button">
        <a href="http://www.ncfba.net/" target="_blank">
            <button class="button">Find a Church</button>
        </a>
    </div>
</div>
