<% @title="Local Churches" %>
<% @description="The UF BCM partners with local churches in the area in order to help students find a body of Christ that they can get involved and grow in." %>
<div class="container">

  <h1>Find Your Home Church</h1>
  <p>The North Central Florida Baptist Association is a ministry of Southern Baptist Churches who are working together. Find a local church in Gainesville to get plugged into and start growing in community and your walk with Christ.</p>
    <div id="church-button">
        <a href="http://www.ncfba.net/" target="_blank">
            <button class="button">Find a Church</button>
        </a>
    </div>
</div>
