<% @title="Connection Groups" %>
<% @description="The UF BCM is very intentional about getting students involved in connection group Bible studies. Learn more about them and find the one that's right for you." %>
<div class="container">

  <h1>Connection Groups</h1>

  <div class="gator">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag("connection-groups.JPG", :alt => "Our Connection Group leaders", :class => "img-responsive img-thumbnail") %>
      </div>
      <div class="col-sm-6">
        <p>Our small groups are key to the BCM community. We encourage you to sign up whether you are looking for a Freshmen Connection Group or for an Upperclassmen Connection Group. Our prayer for these groups is that students will encounter Jesus, learn Biblical truth, grow in prayer, experience the joy of fellowship, and understand the fullness of introducing others to Jesus.</p>
        <div id="connection-group-button">
            <a href="https://docs.google.com/forms/d/1C0Uh2dovCZkGCY24ME3lVICpkrOT01UnR539Fo69hUA/viewform?edit_requested=true" target="_blank">
                <button class="button">Join a Group</button>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
