<footer class="footer">
    <div class="container">
        <div class="row" style="padding: 20px 0px;">
            <div class="col-xs-8" style="text-align:left;">
                <a href="/about_us/our_mission">Our Mission</a>
                |
                <a href="/about_us/our_team">Our Team</a>
                |
                <a href="/about_us/contact">Contact Us</a>
                <br>
                <a href="/get_involved/small_groups">Connection Groups</a>
                |
                <a href="/get_involved/weekly_gatherings">Weekly Gatherings</a>
                |
                <a href="/get_involved/local_churches">Churches</a>
                <br>
                <a href="/resources/newsletter">Newsletter</a>
                |
                <a href="/resources/testimonies">Testimonies</a>
                |
                <a href="/resources/bistro_menu">Bistro</a>
                <br><br>
                <span itemprop="telephone" style="font-weight:bold;">352-376-4405</span><br>
                <a href="mailto:ufbcm@ufbcm.org" target="_top">ufbcm@ufbcm.org</a>

                <div>
                    <a href="https://www.facebook.com/ufbcm/" target="_blank">
                        <%= image_tag("facebook.png", :alt => "Link to UF BCM Facebook Account", :size => "35x35") %>
                    </a>
                    <a href="https://www.instagram.com/ufbcm/" target="_blank">
                        <%= image_tag("instagram.png", :alt => "Link to UF BCM Instagram Account", :size => "35x35") %>
                    </a>
                </div>
            </div>

            <div class="col-xs-4" style="text-align:right;">
                <a target="_blank" href="https://goo.gl/knW7t6">
                    <div itemscope itemtype="http://schema.org/PostalAddress" style="padding-top:10px;">
                        <span itemprop="name">Baptist Collegiate Ministry</span><br>
                        <span itemprop="streetAddress">1604 W University Ave</span><br>
                        <span itemprop="addressLocality">Gainesville</span>,
                        <span itemprop="addressRegion">Florida</span>
                        <span itemprop="postalCode">32603</span><br>
                        <span itemprop="addressCountry">United States</span>
                    </div>
                </a>
            </div>
          </div><br>
            <div style="text-align:center;padding-bottom:25px;">
              <small>  &copy; 2017
                <% if !Time.new.year.to_s.eql? "2017" %>
                - <%= Time.new.year %>
                <% end %>
                UF BCM. All Rights Reserved.</small><br>
              <small>Site designed and created by <%= link_to "Josh Nassar", "http://www.joshuanassar.com" %></small>
            </div>

        </div>
    </div>
</footer>
