<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-4">
        <a target="_blank" href="https://www.instagram.com/ufbcm/">
          <h1>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </h1>
          <p>Follow us on Instagram!</p>
        </a>
      </div>
      <div class="col-sm-4 col-xs-4">
        <a target="_blank" href="https://goo.gl/knW7t6">
          <h1>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </h1>
          <p>1604 W. University Ave.</p>
          <p>Gainesville, Fl 32603</p>
        </a>
      </div>
      <div class="col-sm-4 col-xs-4">
        <a target="_blank" href="https://www.facebook.com/ufbcm/">
          <h1>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </h1>
          <p>Like us on Facebook!</p>
        </a>
      </div>
    </div>
  </div>
</footer>
