<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-left">
        <%= image_tag("BCM logo FINAL.png", :class => "img logo") %>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about_us/our_mission">Our Mission</a></li>
            <li><a href="/about_us/our_team">Our Team</a></li>
            <li><a href="/about_us/contact">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/get_involved/small_groups">Connection Groups</a></li>
            <li><a href="/get_involved/weekly_gatherings">Weekly Gatherings</a></li>
            <li><a href="/get_involved/local_churches">Local Churches</a></li>
          </ul>
        </li>
        <li><a href="/resources/resources">Resources</a></li>
        <li><a href="/new_here">I'm New Here!</a></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <% if !session[:user_id].nil? %>
        <li class="dropdown nav navbar-nav navbar-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=session[:name]%><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/manage">Manage Content</a></li>
            <li><a href="/admin/admin_users">Manage Admins</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Account Settings", "/admin/edit_user?id="+session[:user_id].to_s%></li>
            <li><a href="/admin/logout">Logout</a></li>
          </ul>
        </li>
        <% else %>
        <li><a href="/admin/login">Login</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
